﻿doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{params.title} - Trainer Application
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.6.2.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Application name
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
            if params.isLoggedIn
              li 
                a(href='/profile') Profile
              li 
                a(href='/logout') Logout
            else
              li 
                a(href='/login') Login
              li 
                a(href='/signup') Sign up
          if params.isLoggedIn
          div.navbar-right.navbar-additional
            | #{params.userName}
    .container.body-content
      each msg in params.messages
        p
          h3= msg
      block content
      hr
      footer
        p &copy; #{params.year} - My Express Application

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
