﻿extends layout

block content
	h1 #{params.title}
	form(action="/login" method="post")
		table
			tr
				td
					| Email:
				td
					input(type='text', name='email')
			tr
				td
					| Password:
				td
					input(type='password', name='password')
			tr
				td(col-span="2")
					input(type='submit' name='btnSignup')